/* common */
body { font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 0; }
/* header { background: #f0f0f0; color: #777; padding: 10px 0; text-align: center; font-size: 2em; text-transform: uppercase; letter-spacing: 1px; font-weight: 50;} */
header { background-color: #f0f0f0; color: #777; padding: 20px 0; text-align: center; font-size: 2em; text-transform: uppercase; letter-spacing: 1px; font-weight: 50; 
         border-radius: 10px; margin: 20px auto; max-width: 1200px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }
nav ul { list-style-type: none; padding: 0; }
nav ul li { display: inline; margin: 0 15px; }
nav ul li a { color: #777; text-decoration: none; }
section { padding: 20px; margin: 10px; color: #777;}
footer { text-align: center; padding: 10px 0; background: #f0f0f0; }

/* images */
img { max-width: 100%; height: auto; display: block; margin: 0 auto; }

/* links */
/*a { color: #007BFF; text-decoration: none; }*/
a:hover { color: #A9A9A9; }

/* Education & Experience Boxes */
.descbox {background-color: #f0f0f0; border-radius: 10px; padding: 20px; margin-bottom: 20px; color: #333; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
         max-width: 800px; margin-left: auto; margin-right: auto;}
.job-title {font-size: 1.5em; margin-bottom: 10px; font-weight: bold; color: #007BFF; text-transform: uppercase; letter-spacing: 1px; font-weight: 100;}
.date {font-size: 0.9em; color: #555; margin-bottom: 12px;}
.description {font-size: 1em; color: #777;}
.description ul {margin-top: 8px; padding-left: 20px;}
.description li {font-size: 1em; margin-bottom: 6px;}

/* contact button */
#contact { text-align: center; margin-top: 40px; background-color: #f9f9f9; padding: 20px; }
#contact h2 { font-size: 24px; margin-bottom: 20px; }
#contact-form { max-width: 500px; margin: 0 auto; background-color: #ffffff; padding: 30px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 10px; }
#contact-form input, #contact-form textarea { width: 100%; padding: 12px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px; }
#contact-form textarea { resize: vertical; min-height: 100px; }
#contact-form button { padding: 12px 20px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; }
#contact-form button:hover { background-color: #f1c40f; }

/* Apply the same font to textarea as the rest of the website */
#contact-form textarea { font-family: Arial, sans-serif; font-size: 16px; padding: 12px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; resize: vertical; min-height: 100px; }

/* project boxes */
.project-container { display: flex; justify-content: space-between; margin: 20px; }
.project-box { width: 30%; background-color: #f0f0f0; border-radius: 10px; padding: 20px; color: #333; text-decoration: none; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease; }
.project-box:hover { transform: scale(1.05); box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); }
.project-box h3 { font-size: 1.5em; margin-bottom: 10px; font-weight: 100; color: #007BFF; text-decoration: none; }
.project-desc { font-size: 14px; line-height: 1.5; color: #777; }
